@use './variable' as *;

:export {
  white: $white;
  background: $background;
  placeholder: $placeholder;
  hover: $hover;
  error: $error;
  accent: $accent;
  disabled: $disabled;
  yellow: $yellow;
  orange: $orange;

  text-xs: $text-xs;
  text-sm: $text-sm;
  text-base: $text-base;
  text-lg: $text-lg;
  text-xl: $text-xl;
  text-2xl: $text-2xl;
  text-3xl: $text-3xl;
  text-4xl: $text-4xl;
  text-5xl: $text-5xl;
  text-6xl: $text-6xl;
  text-7xl: $text-7xl;
  text-8xl: $text-8xl;
  text-9xl: $text-9xl;
}
