@use '@/styles/variable' as *;

.button {
  font-size: $text-sm;
  color: $white;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-bottom: 1px solid $white;
  transition: background-color 0.3s;
  height: 33px;
  position: relative;

  &:hover {
    background-color: $hover;
  }
}
