@use '@/styles/variable' as *;

.wrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;

  .cardDetail {
    display: flex;
    gap: 16px;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .image {
      display: block;
      width: auto;
      height: 100%;
      aspect-ratio: 4 / 5;
    }

    .right {
      display: flex;
      gap: 8px;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .title {
      font-size: $text-2xl;
      font-weight: 100;
      text-shadow: 0 0 10px $accent;
    }

    .list {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      width: 100%;

      .listItem {
        list-style: none;

        .button {
          background-color: $white;
          transition: box-shadow 0.3s;

          &:hover {
            box-shadow: 0 0 10px $accent;
          }

          .image {
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 4 / 5;
          }
        }
      }
    }
  }
}
