@use '@/styles/variable' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;

  .formAndLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}
