@use '@/styles/variable' as *;

.container {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;

  .titleWrapper {
    display: flex;
    gap: 32px;
    align-items: center;
    width: fit-content;
    margin: 0 auto;

    .moveButton {
      color: $white;
      border: none;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .title {
      color: $white;
      font-size: $text-2xl;
      text-shadow: 0 0 10px #d3fffd;
    }
  }

  .deckList {
    border: solid 1px $white;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px 12px;
    width: 100%;

    .deckItem {
      aspect-ratio: 2 / 3;
      width: 100%;
      height: auto;
    }
  }
}
